<html>
  <head>
    <title>Github profiles</title>
    <link type="text/css" rel="stylesheet" href="stylesheets/github.css"/>
  </head>
  <body>
    <form id='add_profile'>
      <input id='username' placeholder='Enter a Github username'>
      <button type='submit'>Load profile</button>
    </form>

    <div class='profile-container'>
    </div>

    <template id='profile-template'>
      <div class="profile">
        <div class="left">
          <img src="{{ avatar_url }}">
        </div>

        <div class="right">
          <h3>
            <a href="{{ html_url }}">
              {{ login }}
            </a>
          </h3>
          <h4>Repos: {{ public_repos }}</h4>
          <h4>Followers: {{ public_followers }}</h4>
        </div>
        <br clear="all">
      </div>
    </template>

    <script src='https://code.jquery.com/jquery-2.1.1.min.js'></script>
    <script src='javascripts/load_user.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/mustache.js/0.8.1/mustache.js'></script>
  </body>
</html>
